In [1]:
import pandas as pd
# Create dictionary of test scores
test_dict = {'Scotty':[63,75,88], 'Joy':[48,98,92], 'Kamala': [87, 86, 85]}
# Create DataFrame
df = pd.DataFrame(test_dict)
df = df.T

In [2]:
# Rename Columns
df.columns = ['Quiz_1', 'Quiz_2', 'Quiz_3']
df

        Quiz_1  Quiz_2  Quiz_3
Scotty      63      75      88
Joy         48      98      92
Kamala      87      86      85

In [3]:
# Access first row by index number
df.iloc[0]

Quiz_1    63
Quiz_2    75
Quiz_3    88
Name: Scotty, dtype: int64

In [4]:
# Access first row by index number
df.iloc[0,:]

Quiz_1    63
Quiz_2    75
Quiz_3    88
Name: Scotty, dtype: int64

In [5]:
# Access first column by name
df['Quiz_1']

Scotty    63
Joy       48
Kamala    87
Name: Quiz_1, dtype: int64

In [6]:
# Access first column using dot notation
df.Quiz_1

Scotty    63
Joy       48
Kamala    87
Name: Quiz_1, dtype: int64

In [7]:
# Access first column by its index
df.iloc[:, 0]

Scotty    63
Joy       48
Kamala    87
Name: Quiz_1, dtype: int64