In [3]:
import pandas as pd

In [4]:
# Create dictionary of test scores
test_dict = {'Scotty':[63,75,88], 'Joy':[48,98,92], 'Kamala': [87, 86, 85]}

In [5]:
# Create DataFrame
df = pd.DataFrame(test_dict)

In [6]:
# Display DataFrame
df

   Scotty  Joy  Kamala
0      63   48      87
1      75   98      86
2      88   92      85

In [7]:
# Transpose DataFrame
df = df.T
df

         0   1   2
Scotty  63  75  88
Joy     48  98  92
Kamala  87  86  85