In [4]:
import pandas as pd
df = pd.read_csv('HousingData.csv')

In [5]:
df.isnull().any()

CRIM        True
ZN          True
INDUS       True
CHAS        True
NOX        False
RM         False
AGE         True
DIS        False
RAD        False
TAX        False
PTRATIO    False
B          False
LSTAT       True
MEDV       False
dtype: bool

In [6]:
df.loc[:5, df.isnull().any()]

      CRIM    ZN  INDUS  CHAS   AGE  LSTAT
0  0.00632  18.0   2.31   0.0  65.2   4.98
1  0.02731   0.0   7.07   0.0  78.9   9.14
2  0.02729   0.0   7.07   0.0  61.1   4.03
3  0.03237   0.0   2.18   0.0  45.8   2.94
4  0.06905   0.0   2.18   0.0  54.2    NaN
5  0.02985   0.0   2.18   0.0  58.7   5.21

In [8]:
df.loc[:, df.isnull().any()].describe()

             CRIM          ZN       INDUS        CHAS         AGE       LSTAT
count  486.000000  486.000000  486.000000  486.000000  486.000000  486.000000
mean     3.611874   11.211934   11.083992    0.069959   68.518519   12.715432
std      8.720192   23.388876    6.835896    0.255340   27.999513    7.155871
min      0.006320    0.000000    0.460000    0.000000    2.900000    1.730000
25%      0.081900    0.000000    5.190000    0.000000   45.175000    7.125000
50%      0.253715    0.000000    9.690000    0.000000   76.800000   11.430000
75%      3.560263   12.500000   18.100000    0.000000   93.975000   16.955000
max     88.976200  100.000000   27.740000    1.000000  100.000000   37.970000

In [9]:
df['AGE'] = df['AGE'].fillna(df.mean())

In [10]:
df['CHAS'] = df['CHAS'].fillna(0)

In [12]:
df = df.fillna(df.median())

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB